<% include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">YelpCamp</p>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <img src="<%= campground.image %>" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title"><%= campground.name %></h4>
          <p class="card-text"><%= campground.description %></p>
          <footer class="blockquote-footer">Submitted By <%= campground.author.username %> </footer>
          <h5 class="card-text text-danger text-right text-large">$9.00/night</h5>
          <% if( user && campground.author.id.equals(user._id)){ %>
            <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-success">Edit</a>
            <form id="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
              <button class="btn btn-danger">Delete</button>
            </form>
          <% } %>
        </div>
      </div>
      <div class="card my-4">
        <div class="card-header">
          Reviews
        </div>
        <div class="card-body">
          <div class="row justify-content-between">
            <div class="col-6">

            </div>
            <div class="col-6">
              <p class="text-right">
                <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add a New Review</a>
              </p>
            </div>
          </div>

          <p class="card-text">
            <% campground.comments.forEach((comment) => { %>
              <hr>
              <p><b><%= comment.author.username %></b>:</p>
              <p><%= comment.text %> <span class="float-right">19 days ago</span></p>
              <% if( user && comment.author.id.equals(user._id)){ %>
                <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit"
                  class="btn btn-sm btn-success">
                  Edit
                </a>
                <form id="delete-comment-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-sm btn-danger">Delete</button>
                </form>
              <% } %>
            <% }); %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>